@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}